In [1]:
import os
import scipy.io
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set_context('paper', font_scale=1.3)
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
from LickStopAnalysis import LickStop as l

## Calulate lickstop for WT data

In [8]:
DirectoryName = '/home/sheffieldlab/Desktop/NoReward/ImagingData/Good_behavior/Dataused/'

In [9]:
lick = l(DirectoryName)

Mean 3.31 + STD 3.05 laps 6.00

In [10]:
lick.lickstopdf

       First0  First2  First4  First6
CFC17       6       6       6       6
NR14        7      10      10      10
NR15        9       9       9       9
NR23        2       2       2       2
CFC4        6       8      15      21
NR32        3       3       3      10
NR6         9      11      11      11
CFC19       5       7      10      10
NR24        4       4       4       4
NR21        5       5       5       5
CFC16       2       2       2       2
NR34        6      11      11      16

## Calculate lickstop for dopamine data

In [3]:
DirectoryName = '/Users/seetha/Box Sync/NoReward/DopamineData/Bilateral_withnorew/'

In [8]:
lick_dop = l(DirectoryName)

Mean 4.25 + STD 2.80 laps 7.00

In [9]:
lick_dop.lickstopdf

     First0 First2 First4 First6
012       6     10     10     10
014       2      2      2      2
1980     11     15     15     15
009       8      8      8      8
011      15     17     17     24
1979     17     19     23     23